html{
  .debug-random{
    width: random(9999);
  }
//专业信息

/*major-show 专业介绍*/
  //专业介绍的公有样式
  .major-introduce-txt{
    line-height: 2;
    text-indent: 36px;
    font-size: 16px;
    color:#686868;
  }
  .major-show{
    margin-bottom:60px;
  }












}